<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id="room-container">
      <% rooms.forEach((room, key) => { %>
        <div>
          <%= room.channel_code %>
        </div>
        <a href="/play-room/<%= room.channel_code %>">Join</a>
        <% }) %>
    </div>
    <!-- <form action="/create-room" method="POST">
      <input name="room" type="text" required>
      <button type="submit">New Room</button>
    </form> -->
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script>

  </script>
</html>
